{% extends "_includes/layout.njk" %}

{% block content %}
	<header class="page-hero">
		<section class="hero-content">
			<div>
				<h1>Channels</h1>
				<p class="tagline">Follow my channel across all platforms</p>
			</div>
		</section>
	</header>

	<main class="content-section">
		<section class="container">
			<section class="main-container">
				<section id="bilibili" class="section-content grid";>
					<a href="https://space.bilibili.com/1863501530" class="card bilibili" target="_blank">
						<span class="card-subtitle"><icons>BILIBILI</icons> 卡布米袋里的音符</span>
					</a>
					<p>Bilibili channel launched on Jan 3, 2022.</p>
					<div class="fan-container">
						<div class="fan-item">
							<h3>Followers</h3>
							<div class="number" id="count-bili-fans">-</div>
						</div>
						<div class="fan-item">
							<h3>Uploads</h3>
							<div class="number" id="count-bili-videos">-</div>
						</div>
						<div class="fan-item">
							<h3>Likes</h3>
							<div class="number" id="count-bili-likes">-</div>
						</div>
					</div>
					<p style="font-size: 0.8rem">Updated every 30 minutes.</p>
				</section>
				<section id="rednote" class="section-content grid">
					<a href="https://www.xiaohongshu.com/user/profile/633f8cdf000000001802ee53" class="card xhs" target="_blank">
						<span class="card-subtitle"><icons>rednote</icons> 卡布米袋里的音符</span>
					</a>
					<p>Rednote channel launched on Oct 1, 2025.</p>
					<div class="fan-container">
						<div class="fan-item">
							<h3>Followers</h3>
							<div class="number" id="count-xhs-fans">-</div>
						</div>
						<div class="fan-item">
							<h3>Notes</h3>
							<div class="number" id="count-xhs-notes">-</div>
						</div>
						<div class="fan-item">
							<h3>Likes & Saves</h3>
							<div class="number" id="count-xhs-likes">-</div>
						</div>
					</div>
					<p style="font-size: 0.8rem">Manually synchronized.</p>
				</section>
				<section id="youtube" class="section-content grid">
					<a href="https://www.youtube.com/@KabuMelody" class="card youtube" target="_blank">
						<span class="card-subtitle"><icons>YOUTUBE</icons> Melody of Charlie's</span>
					</a>
					<p>YouTube channel launched on July 31, 2025.</p>
					<div class="fan-container">
						<div class="fan-item">
							<h3>Subscribers</h3>
							<div class="number" id="count-youtube-fans">-</div>
						</div>
						<div class="fan-item">
							<h3>Videos</h3>
							<div class="number" id="count-youtube-videos">-</div>
						</div>
						<div class="fan-item">
							<h3>Views</h3>
							<div class="number" id="count-youtube-views">-</div>
						</div>
					</div>
					<p style="font-size: 0.8rem">Updated in real-time.</p>
				</section>
			</section>

			{% include "_includes/partials/footer.njk" %}
		</section>
	</main>
{% endblock %}

{% block scripts_extra %}
	<script src="../js/apis.js"></script>
{% endblock %}
