			<footer>
				{% if page.showFooterLink != false %}<a href="info">{{ t('footer.info', page.lang) }}</a>
				{% endif %}
				<p><icons>©</icons>2026 Ethan Shaw</p>
				<p>Built with love for Charlie and you all</p>
			</footer>
